{% extends 'base.html' %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>


<form method="POST">
    {% csrf_token %}
    <article>
        <fieldset>
            <legend>Selecione os produtos para comprar</legend>
            <input type="checkbox" name="produto" id="shampoo" value="70" /><label for="shampoo">Meu
                Shampoo</label><br />
            <input type="checkbox" name="produto" id="condicionador" value="95" /><label for="condicionador">Meu
                Condicionador</label><br />
            <br>
            <button id="check">Calcula o Valor</button>

            <hr>

            <fieldset>
                <legend>Valor</legend>
                <table>
                    <tbody>
                        <tr>
                            <td><label>Total a Vista R$</label></td>
                            <td><input type="text" name="val-avista" id='total' class="total" value="0" required/>
                                <input type="hidden" id="valorBase" /></td>

                        </tr>
                        <tr name="condicao-pag" id="condicao-pag">
                            <td><label>Condição de pagamento:</label></td>
                            <td>
                                <select  id="payment" name="payment">
                                    <option value=0>À vista</option>
                                    <option value=1>À prazo</option>
                                </select>
                            </td>
                        </tr>
                        <tr id="parcelamento" style="display:none">
                            <td>Parcelar em</td>
                            <td>
                                <select id="n-parcelas">
                                    <option></option>
                                    <option value="2" selected>2x</option>
                                    <option value="3">3x</option>
                                    <option value="4">4x</option>
                                </select>
                            </td>
                        </tr>

                        <tr id="parcelas" style="display:none"></tr>
                        <input type="hidden" id="val-parcelas" name="val-parcelas"/>
                        <tr id="juros" style="display: none; font-size: 0.6em"><td>*Valor com juros de 4% + R$ 0,50 por transação</td></tr>
                    </tbody>
                </table>
            </fieldset>
            <br>
            <button type="submit" id="final">COMPRAR</button>
        </fieldset>
    </article>
</form>
<form method="POST">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-currency="brl"
    data-amount="{{ amount }}" data-name="{{ modalTitle}}" data-description="{{ modalSubTitle }}" data-image="{{ img }}"
    data-panel-label=" {{ btn_modal_title }}" data-label="{{ btn_title }}" data-allow-remember-me="false"
    data-locale="auto">
    </script>
</form>
<script>
    //Funcao para atualizar as parcelas e seus valores
    function atualizaValores() {

        var parcelas = $("#n-parcelas").val();      // pegando a quantidade de parcelas
        var geraInputs = "";                        //variavel que recebe os inputs(HTML)

        //Calculando o valor de cada parcela
        var valorParcela = parseFloat($("#valorBase").val() / parcelas);
        var parcelaComJuros = ((valorParcela * 1.04) + 0.5);
        $("#val-parcelas").val(parcelaComJuros)

        //gerando os inputs com os valores de cada parcela
        geraInputs += "<td><input type='text' id='valorParcela' name='parcela[]' value='Parcelas de R$ " + parcelaComJuros.toFixed(2) + "*'> ";

        $("#parcelas").html(geraInputs);            // inserindo as parcelas 
    }

    $(document).ready(function () {
        var csrftoken = Cookies.get('csrftoken');
        $(".stripe-button-el").hide();

        //Evento para pegar os valores dos produtos selecionados
        $('#check').on('click', function (e) {
            e.preventDefault();
            var valor = 0;
            if ($("#shampoo").is(':checked')) {
                valor += parseInt($("#shampoo").val());
            }

            if ($("#condicionador").is(':checked')) {
                valor += parseInt($("#condicionador").val());
            }

            valorBase = valor;
            valorVista = (valor * 1.04) + 0.5;   //Adiciona  os juros

            $('#total').val(valorVista.toFixed(2));
            $('#valorBase').val(valorBase.toFixed(2));
        });

        // ao alterar o valor total, chama a funcao para alterar as parcelas
        $(".total").on('change keyup keydown keypress', function () {
            atualizaValores();
        });

        // ao alterar a condicao de pagamento,chama a funcao para alterar as parcelas
        $('#condicao-pag').on('change', 'select', function () {
            atualizaValores();
            if ($(this).val() == 1) {
                $('#parcelamento').show();
                $('#parcelas').show();
                $('#juros').show();
            }
            else {
                $('#parcelamento').hide();
                $('#parcelas').hide();
                $('#juros').hide();
                $('#totalPrazo').hide();
            }
        })

        //Calcular valor das parcelas e preencher inputs
        $('#n-parcelas').on('change', function () {
            atualizaValores();
        });
    
        //Req asyc para propria page
        $('#final').on('click', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'home' %}",
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    payment: $('#payment').val(),
                    valParcelas: $('#val-parcelas').val(),
                    valVista: $('#total').val(),
                },
                success: function(response){
                    console.log(response.payment)
                    $(".stripe-button-el").show();
                }        
            });
        });

    });
</script>
{% endblock %}